            .test-button {
                background-color: blueviolet;
                color: white;
                border: none;
                align-self: center;
                padding-left: 15px;
                padding-bottom: 10px;
                padding-right: 15px;
                padding-top: 10px;
                border-radius: 4px;
                cursor: pointer;
                transition: opacity 0.12s;
            }
            .test-button:hover {
                opacity: 0.5;
            }
            .test-button:active
            {
                opacity: 1;
                background-color: rgb(94, 54, 131);
            }
            .title {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                text-align: center;
            }
            .yap {
                font-family: Arial, Helvetica, sans-serif;    
            }